# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Root level environment variables (if any)
.env

# Other project-wide ignores
*.log
